@layer blocks {
	.cards {
		display: grid;
		gap: 17px;
		grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
	}
	
	.card {
		container-type: inline-size;
		display: grid;
		gap: 20px;

		& img {
			inline-size: 100%;
		}
	}
	
	.card-content {
		--title-font-size: var(--heading-font-size-s);
		
		display: grid;
		gap: 10px;
		
		@container (width >= 64em) {
			--title-font-size: var(--heading-font-size-m);

			align-content: start;
			grid-column: 2;
			padding-inline-start: 90px;
		}
	}
}
