@layer blocks {
	.cards {
		display: grid;
		gap: 17px;
		grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
	}
	
	.card {
		container-type: inline-size;
		display: grid;

		& img {
			inline-size: 100%;
		}
	}

	.card-container {
		align-items: start;
		display: grid;
		gap: 20px;

		@container (width >= 64em) {
			--title-font-size: var(--heading-font-size-m);
	
			grid-template-columns: repeat(2, 1fr);
		}
	}
	
	.card-content {
		--title-font-size: var(--heading-font-size-s);
		
		display: grid;
		gap: 10px;
		
		@container (width >= 85em) {
			padding-inline-start: 80px;
		}
	}
}
