@layer blocks {
	.header-wrapper {
		--animation-start: 25vh;
		--animation-distance: 50vh;

		background-color: light-dark(var(--color-gray-95), var(--color-midnight-gray));
		padding-block: 14px;
		position: sticky;
		top: 0;
		z-index: 1;

		@supports (animation-timeline: view()) {
			@media (prefers-reduced-motion: no-preference) {
				animation: sticky-nav linear forwards;
				animation-timeline: view();
				animation-range-start: calc(100vh + var(--animation-start));
				animation-range-end: calc(
					100vh + var(--animation-start) + var(--animation-distance)
				);
				top: -58px;
				
				@media (width >= 48em) {
					background-color: transparent;
				}
			}
		}
	}

	.header {
		align-items: center;
		display: grid;
		grid-auto-flow: column;
		justify-content: space-between;
		margin-inline: auto;
		max-inline-size: min(100% - var(--container-gutter, 0.9375rem) * 2, var(--max-width, 68rem));
	}

	.header-nav {
		&[aria-hidden] {
			background-color: light-dark(var(--color-gray-95), var(--color-midnight-gray));
			inset: 100% 0 auto;
			overflow: hidden;
			padding-inline: 0.9375rem;
			position: absolute;
			transition: block-size var(--transition-time) ease-in-out, display var(--transition-time) allow-discrete;
		}

		&[aria-hidden='true'] {
			block-size: 0;
			display: none;
		}

		&[aria-hidden='false'] {
			block-size: auto;
			display: block;

			@starting-style {
				block-size: 0;
			}
		}
	}

	.header-nav-links {
		display: flex;
		gap: 48px;

		@media (width < 48em) {
			flex-direction: column;
			padding-block-end: 20px;
		}

		& a {
			text-transform: uppercase;
		}
	}

	.mobile-nav-button {
		block-size: 2.5rem;
		display: grid;
		gap: 5px;
		inline-size: 2.5rem;
		place-content: center;
	
		@media (width >= 48em) {
			display: none;
		}

		&[aria-expanded='true'] {
			&::before,
			&::after {
				--icon-opacity: 0;

				transition:
					opacity var(--transition-time) ease-in-out,
					translate var(--transition-time) ease-in-out;
			}

			&::before {
				--icon-translate: 7px;
			}

			&::after {
				--icon-translate: -7px;
			}

			& span {
				transition: rotate var(--transition-time) ease-in-out var(--transition-time);

				&:first-of-type {
					--icon-rotate: -45deg
				}

				&:last-of-type {
					--icon-rotate: 45deg
				}
			}
		}
	
		&::before,
		&::after {
			content: '';
			opacity: var(--icon-opacity, 1);
			translate: 0 var(--icon-translate, 0);
			transition:
				opacity var(--transition-time) ease-in-out var(--transition-time),
				translate var(--transition-time) ease-in-out var(--transition-time);
		}
	
		&::before,
		&::after,
		& span {
			background-color: light-dark(var(--color-black), var(--color-white));
			block-size: 0.125rem;
			inline-size: 1.0625rem;
			pointer-events: none;
		}

		& span {
			grid-column: 1;
			grid-row: 2;
			rotate: var(--icon-rotate, 0);
			transition: rotate var(--transition-time) ease-in-out;
		}
	}

	@keyframes sticky-nav {
		100% {
			top: 0;
			background-color: light-dark(var(--color-gray-95), var(--color-midnight-gray));
		}
	}
}
