@layer blocks {
	.hero {
		align-items: center;
		display: grid;
		gap: 30px;

		@media (width >= 75em) {
			gap: 130px;
		}

		&:has(img) {
			@media (width >= 62em) {
				grid-template-columns: repeat(2, 1fr);
			}

			& .hero-content {
				text-align: right;
			}
		}
	}

	.hero-content {
		display: grid;
		gap: 10px;

		@media (width >= 75em) {
			gap: 24px;
		}
	}

	.hero-image {
		align-items: center;
		display: grid;

		& :where(picture, .button-container) {
			grid-column: 1;
			grid-row: 1;
		}
	}
}
