@layer blocks {
	.filters {
		display: grid;
		gap: 30px;

		@media (width >= 62em) {
			border-block-start: 2px solid light-dark(var(--color-gray-85), var(--color-muted-gray));
			gap: 120px;
			grid-template-columns: 1fr 2.7fr;
			padding-block-start: 40px;
		}
	}

	.filters-sidebar-button {
		inline-size: 100%;

		@media (width >= 62em) {
			display: none;
		}
	}

	.filters-sidebar-content {
		display: grid;
		gap: 23px;

		&[aria-hidden] {
			block-size: 0;
			overflow: hidden;
			transition: block-size var(--transition-time) ease-in-out, display var(--transition-time) allow-discrete;
		}

		&[aria-hidden='true'] {
			display: none;
		}

		&[aria-hidden='false'] {
			block-size: auto;
			display: grid;

			@starting-style {
				block-size: 0;
			}
		}
	}

	.filters-search {
		background-color: light-dark(var(--color-gray-90), var(--color-muted-gray));
		display: grid;
		grid-template-columns: 1fr auto auto;
		padding-inline-end: 15px;
		
		&:focus-within {
			outline: 1px auto Highlight;
			outline: 1px auto -webkit-focus-ring-color;
		}
		
		& input {
			background: none;
			border: none;
			outline: none;
			padding: 15px;

			&::placeholder {
				color: light-dark(var(--color-gray-40), var(--color-white));
			}
		}

		& path {
			stroke: light-dark(var(--color-black), var(--color-white));
		}
	}

	.filters-group {
		display: grid;
		gap: 24px;

		& legend {
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	.filters-widget {
		& ul {
			display: grid;
			gap: 22px;
			padding-inline-start: 16px;
		}

		& li {
			align-items: center;
			display: flex;
			gap: 14px;
		}
	}

	.filter-checkbox {
		display: grid;
		place-items: center;

		&:has(input:checked) {
			--checkmark-opacity: 1;
			--checkmark-scale: 1;
		}

		& input[type='checkbox'] {
			appearance: none;
			border: 1px solid light-dark(var(--color-black), var(--color-white));
			block-size: 22px;
			border-radius: 4px;
			grid-column: 1;
			grid-row: 1;
			inline-size: 22px;
			position: relative;
		}
		
		& .icon {
			block-size: 16px;
			grid-column: 1;
			grid-row: 1;
			inline-size: 16px;
			opacity: var(--checkmark-opacity, 0);
			pointer-events: none;
			scale: var(--checkmark-scale, .8);
			transition: opacity var(--transition-time) ease-in-out, scale var(--transition-time) ease-in-out;
		}
	}

	.filters-results {
		display: grid;
		gap: 30px;
	}

	.filter-result-card {
		display: flex;
		gap: 20px;
	}

	.filter-result-content {
		align-content: start;
		display: grid;
		gap: 10px;
	}
}
