@layer blocks {
	.footer-wrapper {
		--link-color: var(--color-white);

		background-color: light-dark(var(--color-black), var(--color-charcoal-gray));
		color: var(--color-white);
		padding-block: 45px;
	}

	.footer {
		display: grid;
		grid-auto-flow: column;
		margin-inline: auto;
		max-inline-size: min(100% - var(--container-gutter, 0.9375rem) * 2, var(--max-width, 68rem));
	}

	.social-media-links {
		display: flex;
		gap: 20px;
	}

	.footer-links {
		display: grid;
		gap: 40px;

		& li {
			display: flex;
			gap: 17px;
		}
	}
}
