@layer blocks {
	.numbered-cards {
		counter-reset: card;
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
	}

	.numbered-card {
		counter-increment: card;
		display: flex;
		flex-direction: column;
		gap: 10px;

		@media (width >= 48em) {
			flex-direction: row;
		}

		&::before {
			color: light-dark(var(--color-gray-55), var(--color-muted-gray));
			content: counter(card);
			font-size: var(--size-90);
			font-weight: 900;
			line-height: 1;

			@media (width >= 75em) {
				font-size: var(--size-200);
			}
		}
	}

	.numbered-card-content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: space-between;
	}
}