@font-face {
	font-family: 'lato-normal-400-fallback';
	size-adjust: 96.939%;
	src: local('Arial');
}

@layer root, theme, resets, global, blocks, overrides;

@layer root {
	:root {
		/* Colors */
		--color-white: hsl(0deg 0% 100%);
		--color-black: hsl(0deg 0% 0%);
		--color-blue: hsl(220deg 100% 50%);
		--color-gray-40: hsl(0deg 0% 40%);
		--color-gray-55: hsl(0deg 0% 55%);
		--color-gray-85: hsl(0deg 0% 85%);
		--color-gray-90: hsl(0deg 0% 90%);
		--color-gray-95: hsl(0deg 0% 95%);
		--color-muted-gray: hsl(200deg 12% 40%);
		--color-blue-gray: hsl(200deg 12% 60%);
		--color-dark-gray: hsl(204deg 10% 16%);
		--color-charcoal-gray: hsl(210deg 10% 12%);
		--color-midnight-gray: hsl(204deg 12% 12%);
		--color-violet: hsl(280deg 100% 50%);
		--link-color: var(--color-black);
		--text-color: var(--color-black);
		--link-color-dark: var(--color-white);
		--text-color-dark: var(--color-white);

		@media (prefers-color-scheme: dark) {
			--link-color: var(--color-white);
			--text-color: var(--color-white);
		}

		/* Fonts */
		--body-font-family: 'roboto';
		--fallback-fonts: sans-serif, system-ui;
		--material-icons: 'Material Icons';

		/* Rem sizes */
		--size-12: 0.75rem;
		--size-14: 0.875rem;
		--size-16: 1rem;
		--size-32: 2rem;
		--size-42: 2.625rem;
		--size-60: 3.75rem;
		--size-62: 3.875rem;
		--size-84: 5.25rem;
		--size-90: 5.625rem;
		--size-200: 12.5rem;
	
		/* body sizes */
		--body-font-size-l: var(--size-16);
		--body-font-size-m: var(--size-14);
		--body-font-size-s: var(--size-12);
	
		/* heading sizes */
		--heading-font-size-l: var(--size-60);
		--heading-font-size-m:  var(--size-42);
		--heading-font-size-s: var(--size-32);

		@media (width >= 75em) {
			--heading-font-size-l: var(--size-84);
			--heading-font-size-m:  var(--size-62);
		}

		/* Transition Time */
		--transition-time: 300ms;

		@media (prefers-reduced-motion: reduce) {
			--transition-time: 0ms;
		}
	
		/* Breakpoints used across stylesheets
		* 36em (576px)
		* 48em (768px)
		* 62em (992px)
		* 75em (1200px)
		*/

		interpolate-size: allow-keywords;
		color-scheme: light dark;
	}
}

@layer resets {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		color: var(--text-color);
		font-family: var(--body-font-family), var(--fallback-fonts);
		line-height: 1.5;
		text-size-adjust: none;
		-webkit-tap-highlight-color: transparent;
	}

	body {
		background-color: light-dark(var(--color-white), var(--color-dark-gray));
		font-size: var(--body-font-size-m);
		margin: 0;
	
		&:not(.appear) {
			visibility: hidden;
		}
	}

	.lock-scroll {
		margin-inline-end: var(--scroll-width);

		& body {
			overflow: hidden;
		}
	}

	:where(input, textarea, select, button, cite, label) {
		font: inherit;
	}


	:where(button, input, label) {
		line-height: 1;
	}

	:where(input[type='text'], textarea) {
		inline-size: 100%;
	}

	input[type='checkbox'] {
		margin: 0;
	}

	:where(h1, h2, h3, h4, h5, h6) {
		color: light-dark(
			var(--title-color-light, var(--color-gray-40)),
			var(--title-color-dark, var(--color-blue-gray))
		);
		font-size: var(--title-font-size, inherit);
		font-weight: var(--title-font-weight, 300);
		line-height: 1.1;
		margin-block: 0;
		text-wrap: balance;
		text-transform: uppercase;

		& strong {
			color: light-dark(var(--color-black), var(--color-white));
			font-weight: 600;
		}
	}

	p {
		margin-block: 0;
		text-wrap: pretty;
	
		& + p {
			margin-block-start: 21px;
		}

		& a {
			--link-color: var(--color-blue);
			--underline-alpha: 1;
		}
	}

	a:not(.button) {
		color: var(--link-color);
		text-decoration-color: hsl(from var(--color-underline, var(--link-color)) h s l / var(--underline-alpha, 0));
		text-decoration-skip-ink: auto;
		text-underline-offset: .5em;
		text-decoration-thickness: .14em;
		transition:
			color var(--transition-time) ease-in-out,
			background-color var(--transition-time) ease-in-out,
			text-decoration-color var(--transition-time) ease-in-out,
			border-color var(--transition-time) ease-in-out;
		
		&:focus-visible {
			outline: 2px solid var(--color-blue);
		}

		&:hover:not(.logo),
		&[aria-current='page']:not(.logo) {
			--link-color: light-dark(
				var(--link-hover-color, var(--color-blue)),
				var(--link-dark-hover-color, var(--color-violet))
			);
			--underline-alpha: 1;
		}
	}

	:target {
		scroll-margin-block: 5ex;
	}

	textarea {
		resize: vertical;
	}

	button {
		border: none;
		background: none;
		color: inherit;
		cursor: pointer;
		padding: 0;

		&[disabled] {
			cursor: none;
			pointer-events: none;
		}

		&:focus-visible {
			outline: 2px solid var(--color-blue);
		}
	}

	img {
		block-size: auto;
		font-style: italic;
		max-inline-size: 100%;
		vertical-align: middle;

		.image-full-width & {
			inline-size: 100%;
		}
	}

	iframe {
		aspect-ratio: 16/9;
		block-size: 100%;
		inline-size: 100%;
	}

	ul[role='list'],
	ol[role='list'] {
		list-style-type: none;
		margin-block: 0;
		padding-inline-start: 0;
	}

	svg {
		block-size: auto;
		inline-size: 100%;
	}

	:where(blockquote, figure) {
		margin: 0;
	}

	legend {
		padding-inline: 0;
	}

	:where(header:empty, header:has(div:empty), header:has([data-block-status='loading'])) {
		background-color: var(--color-white);
		height: 92px;
		overflow: hidden;
	}
}

@layer global {
	/* Icons */
	.icon {
		block-size: var(--icon-block-size, 24px);
		display: inline-block;
		inline-size: var(--icon-inline-size, 24px);

		& path {
			stroke: var(--icon-color, currentColor);
			transition: stroke var(--transition-time) ease-in-out;
		}
	}

	/* Buttons */
	.button-container {
		display: flex;
		gap: 15px;
		flex-wrap: wrap;
		justify-content: var(--button-justify, start);

		& :where(strong, em) {
			display: contents;
		}

		& em {
			font-style: normal;
		}
	}

	.button {
		align-items: center;
		color: var(--button-color);
		display: flex;
		gap: 10px;
		justify-content: center;
		line-height: 1;
		text-decoration: underline;
		text-decoration-color: hsl(from var(--color-underline, var(--button-color)) h s l / var(--underline-alpha, 0));
		text-transform: uppercase;
		transition:
			color var(--transition-time) ease-in-out,
			background-color var(--transition-time) ease-in-out,
			border-color var(--transition-time) ease-in-out,
			text-decoration-color var(--transition-time) ease-in-out;

		&:hover {
			--underline-alpha: 1;
		}

		&:focus-visible {
			outline: 2px solid var(--color-blue);
			outline-offset: 2px;
		}

		&:not(.primary, .secondary) {
			--button-color: light-dark(var(--color-black), var(--color-white));

			&:hover {
				--button-color: light-dark(var(--color-blue), var(--color-violet));
			}
		}

		&:is(.primary, .secondary) {
			background-color: hsl(from var(--button-background-color) h s l / var(--button-background-opacity, 100%));
			border: 1px solid var(--button-border-color);
			padding: 1.07em 2.14em;
			text-align: center;
			
			&:not(.outline) {
				&:hover,
				&:focus-visible {
					--button-color: var(--color-white);
					--button-background-color: light-dark(var(--color-blue), var(--color-violet));
					--button-border-color: light-dark(var(--color-blue), var(--color-violet));
				}
			}

			&.outline {
				--button-background-opacity: 0%;
			}
		}

		&.primary {
			--button-border-color: light-dark(var(--color-white), var(--color-dark-gray));
			--button-color: light-dark(var(--color-black), var(--color-white));

			&:not(.outline) {
				--button-background-color: light-dark(var(--color-white), var(--color-dark-gray));
			}
		}

		&.secondary {
			--button-border-color: light-dark(var(--color-black), var(--color-white));
			--button-background-color: light-dark(var(--color-black), var(--color-white));
			
			&:not(.outline) {
				--button-color: light-dark(var(--color-white), var(--color-black));
			}
			
			&.outline {
				--button-color: light-dark(var(--color-black), var(--color-white));

				&:hover,
				&:focus-visible {
					--button-color: light-dark(var(--color-white), var(--color-black));
					--button-background-opacity: 100%;
				}
			}
		}
	}

	/* Sections */
	.section {
		display: grid;
		gap: var(--section-spacing, 32px);
		margin-block: var(--section-block-spacing, 40px);
		scroll-margin-block-start:
			calc(var(--header-height, 100px)
			+ var(--sticky-nav-height, 0px)
			+ var(--section-block-spacing, 30px));

		@media (width >= 75em) {
			--section-block-spacing: 80px;
		}

		&[class*='bg-color'] {
			margin-block: 0;
			padding-block: var(--section-block-spacing, 40px);
		}

		& > * {
			inline-size: 100%;
			margin-inline: auto;
			max-inline-size: min(100% - var(--container-gutter, 0.9375rem) * 2, var(--max-width, 81rem));
		}

		&:empty {
			display: none;
		}
	}

	.light-text {
		color: var(--color-white);
	}

	.dark-text {
		color: var(--color-black);
	}

	.title-large {
		--title-font-size: var(--heading-font-size-l);
	}

	.title-medium {
		--title-font-size: var(--heading-font-size-m);
	}

	.title-small {
		--title-font-size: var(--heading-font-size-s);
	}

	.title-bold {
		--title-font-weight: 700;
	}

	.copy-small {
		font-size: var(--body-font-size-s);
	}

	.copy-medium {
		font-size: var(--body-font-size-s);
	}

	.copy-large {
		font-size: var(--body-font-size-l);
	}

	.text-center {
		--button-justify: center;

		text-align: center;
	}
}

@layer overrides {
	.sr-only {
		clip: rect(0 0 0 0); 
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap; 
		width: 1px;
	}

	.swiper {
		align-items: center;
		display: grid;
		gap: 15px;

		&:has(.pagination-left) {
			--pagination-placement: start;

			@media (width < 48em) {
				& .carousel-column:last-child {
					grid-row: 1;
				}
			}
		}

		& .swiper-slide {
			flex-shrink: 0;
			transition: visibility var(--transition-time) allow-discrete;
		}

		& .swiper-slides {
			overflow: hidden;
			grid-column: 1 / -1;
			grid-row: 1;
		}
	
		& .swiper-scroller {
			display: flex;
			gap: 0;
		}

		& .swiper-button {
			aspect-ratio: 1/1;
			background-color: hsl(from var(--color-gray-5) h s l / var(--button-background-alpha, 0%));
			border-radius: 50%;
			display: none;
			grid-row: 1;
			transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out;

			&:hover {
				--button-background-alpha: 20%;
			}

			&[disabled] {
				opacity: .3;
			}

			&.previous {
				--button-arrow-rotate: 135deg;
			}

			&::after {
				border-color: currentColor;
				border-style: solid;
				border-width: 0 2px 2px 0;
				block-size: 0.5625rem;
				content: '';
				display: block;
				inline-size: 0.5625rem;
				rotate: var(--button-arrow-rotate, -45deg);
			}
		}

		& .swiper-pagination {
			display: flex;
			gap: 4px;
			grid-column: 1 / -1;
			justify-content: center;

			@media (width >= 48em) {
				inline-size: 50%;
				justify-self: var(--pagination-placement, end);
			}

			& button {
				align-items: center;
				block-size: 30px;
				display: grid;
				flex: 1;
				max-inline-size: 100px;
				
				&[aria-selected='true'],
				&:hover {
					--pagination-button-opacity: 1;
				}

				&::before {
					background-color: var(--color-red-1);
					block-size: 5px;
					content: '';
					display: block;
					opacity: var(--pagination-button-opacity, .2);
					transition: opacity var(--transition-time) ease-in-out;
				}
			}
		}

		&:has(.swiper-init) {
			grid-template-columns: 35px 1fr 35px;

			& .swiper-slides {
				grid-column: 2;
			}

			& .swiper-slide {
				pointer-events: none;
				visibility: hidden;

				&.swiper-slide-visible:not(.swiper-slide-prev),
				.jumplinks & {
					pointer-events: all;
					visibility: visible;
				}
			}

			& .swiper-button {
				display: grid;
				place-content: center;
			}
		}
	}

	:is(
	header > *:not([data-block-status='loaded'], .skip-to-content),
	header:has([data-block-status='loading']) > *,
	body:has([data-section-status='loading'], [data-block-status='loading']) :is(main, footer)) {
		visibility: hidden;
	}
}
